{% extends "base.html" %}
{% block title %}
    {% if lk %}
        Мои заказы
    {% else %}
        Все заказы
    {% endif %}
{% endblock %}
{% block content %}
    {% for order in orders %}
        <h3><a class="link" href="{% url 'orders:order_detail' order.id%}"><b>{{ order.title }}</b></a></h3>
        <ul>
          <li>
             <b>Заказчик</b>: <a href="{% url 'users:profile' order.customer.id%}"><b>{{ order.customer.username }}</b></a>
          </li>
          <li>
             <b>Цена</b>: {{ order.price }}
          </li>
          <li>
             <b>Дата публикации</b>: {{ order.pub_date|date:"d E Y" }}
          </li>
        </ul>
      {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}
{% endblock %}